<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/web-services
      					http://www.springframework.org/schema/web-services/web-services.xsd">

	<context:component-scan base-package="com.destack.overflow" />

	<bean id="answerItemURLGenerator"
		class="com.destack.overflow.urlgenerator.AnswerItemURLGenerator" />

	<bean id="commentURLGenerator" class="com.destack.overflow.urlgenerator.CommentURLGenerator" />

	<bean id="answerItemFetcher" class="com.destack.overflow.fetcher.AnswerItemFetcher" />

	<bean id="commentItemFetcher" class="com.destack.overflow.fetcher.CommentItemFetcher" />

</beans>